body {
    background-color: black;
    color: #d3d3d3;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  h1, h2, p, footer {
    text-align: center;
  }
  h1 {
    text-transform: lowercase;
    font-size: 3rem; /* Larger header size */
  }
  a {
    color: #00ff00; /* Hacker green for links */
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
  }
  .break-words {
    word-break: break-word;
  }
  